<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>接口文档</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">


<script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>

<script src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>

<script src="bootstrap-contextmenu.js"></script>
<script src="api-doc-service-url-config.js"></script>
<style type="text/css">
html, body {
	overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
	padding-top: 70px;
}

footer {
	padding: 30px 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
	.row-offcanvas {
		position: relative;
		-webkit-transition: all .25s ease-out;
		-o-transition: all .25s ease-out;
		transition: all .25s ease-out;
	}
	.row-offcanvas-right {
		right: 0;
	}
	.row-offcanvas-left {
		left: 0;
	}
	.row-offcanvas-right
  .sidebar-offcanvas {
		right: -50%; /* 6 columns */
	}
	.row-offcanvas-left
  .sidebar-offcanvas {
		left: -50%; /* 6 columns */
	}
	.row-offcanvas-right.active {
		right: 50%; /* 6 columns */
	}
	.row-offcanvas-left.active {
		left: 50%; /* 6 columns */
	}
	.sidebar-offcanvas {
		position: absolute;
		top: 0;
		width: 50%; /* 6 columns */
	}
}
</style>

</head>

<body oncontextmenu=self.event.returnValue=false>
	<nav class="navbar navbar-fixed-top navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">SoftDesign</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="index.html">首页</a></li>
					<li><a href="#about">产品设计</a></li>
					<li><a href="#about">需求分析</a></li>
					<li><a href="#about">概要设计</a></li>
					<li><a href="#about">详细设计</a></li>
					<li class="active"><a href="api-doc-list.html">接口文档</a></li>
					<li><a href="test.html">测试</a></li>
				</ul>

				<form class="navbar-form navbar-left">
					<div class="form-group">
						<input id="interfacNumber" type="text" class="form-control" placeholder="接口号">
					</div>
					<button type="button" class="btn btn-default" onclick="getInterfacByInterfacNumber();">搜索</button>
				</form>
			</div>
		</div>
	</nav>

	<div class="container" id='interfaces'>
		<div class="row row-offcanvas row-offcanvas-right">

			<div class="col-xs-12 ">
				<p class="pull-right visible-xs">
					<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
				</p>

				<div id="module4vue" class="row">

					<p></p>

					<div v-for="mod in modules4vue">
						<a v-on:click="getAllInterfaces(mod.moduleId)"> <span class="glyphicon glyphicon-play"></span><font size="3">&nbsp;{{mod.moduleName}}</font>
						</a>
						<p></p>
						<div v-bind:id="'module-'+mod.moduleId" data="false">
							<div v-for="interfacesResponseModel in mod.interfacesResponseModels" class="col-xs-6 col-lg-12">
								<p></p>
								<a v-on:click="openOrCloseInterfacDetail(interfacesResponseModel.interfac.interfacId)"> <span class="glyphicon glyphicon-play"></span><font size="1"><b>{{interfacesResponseModel.interfac.interfacNumber}}</b> &nbsp;{{interfacesResponseModel.interfac.interfacName}}</font>
								</a>
								<hr style="height: 1px; border: none; border-top: 1px solid #337ab7;">
								<div v-bind:id="'interfaceDetail-'+interfacesResponseModel.interfac.interfacId" data="false" hidden="hidden">
									<p>请求地址：{{interfacesResponseModel.interfac.url}}</p>
									<p>请求方式：{{interfacesResponseModel.interfac.requestType}}</p>
									<p>参数数据格式：{{interfacesResponseModel.interfac.parameterFormat}}</p>
									<p>返回数据格式：{{interfacesResponseModel.interfac.returnDataType}}</p>

									<table class="table table-bordered">
										<caption>请求参数说明</caption>
										<tbody>

											<tr>
												<td>序号</td>
												<td>代码</td>
												<td>名称</td>
												<td>是否必须</td>
												<td>类型</td>
												<td>长度</td>
												<td>枚举</td>
												<td>示例</td>
											</tr>

											<tr v-for="(para,index) in interfacesResponseModel.parameters">
												<td>{{index+1}}</td>
												<td>{{para.parameterCode}}</td>
												<td>{{para.parameterName}}</td>
												<td>{{para.isMust}}</td>
												<td>{{para.parameterDataType}}</td>
												<td>{{para.maxLength}}</td>
												<td>{{para.enumeration}}</td>
												<td>{{para.parameterExample}}</td>
											</tr>

										</tbody>
									</table>
									<table v-for="pcms in interfacesResponseModel.parameterConstraintModels" class="table table-bordered">
										<caption>
											参数[
											<b>{{pcms.parameterCode}}</b>
											]枚举值的说明:
										</caption>
										<tbody>

											<tr>
												<td>枚举值</td>
												<td>枚举值含义</td>
											</tr>

											<tr v-for="pc in pcms.parameterConstraints">

												<td>{{pc.parameterConstraintCode}}</td>
												<td>{{pc.parameterConstraintExplain}}</td>
											</tr>

										</tbody>
									</table>
									<table class="table table-bordered">
										<caption>返回参数说明</caption>
										<tbody>

											<tr>
												<td>序号</td>
												<td>代码</td>
												<td>名称</td>
												<td>是否必须</td>
												<td>类型</td>
												<td>长度</td>
												<td>枚举</td>
												<td>示例</td>
											</tr>

											<tr v-for="(para_re,index) in interfacesResponseModel.parameterReturns">
												<td>{{index+1}}</td>
												<td>{{para_re.parameterCode}}</td>
												<td>{{para_re.parameterName}}</td>
												<td>{{para_re.isMust}}</td>
												<td>{{para_re.parameterDataType}}</td>
												<td>{{para_re.maxLength}}</td>
												<td>{{para_re.enumeration}}</td>
												<td>{{para_re.parameterExample}}</td>
											</tr>

										</tbody>
									</table>
									<hr style="height: 1px; border: none; border-top: 1px dashed #B2B8BD;" />
									<p>试一试</p>
									<div class="form-group">
										<label for="name">请求地址：</label> <input type="text" class="form-control" v-bind:id="'url-'+interfacesResponseModel.interfac.interfacId" v-bind:value="interfacesResponseModel.interfac.url">
									</div>

									<div class="form-group">
										<label for="name">请求头：</label>
										<textarea v-bind:id="'request_headers-'+interfacesResponseModel.interfac.interfacId" class="form-control" rows="3"></textarea>
									</div>
									<div class="form-group">
										<label for="name">参数：</label>
										<textarea v-bind:id="'textarea-'+interfacesResponseModel.interfac.interfacId" class="form-control gradeA odd " rows="7" data-toggle="context" data-target="#context-menu"> {{interfacesResponseModel.interfac.jsonParameters}}</textarea>
										<p style="margin-left: 0px; margin-right: 16px;" align="right">
											<a v-bind:id="'format-'+interfacesResponseModel.interfac.interfacId" v-on:click="formatJson(interfacesResponseModel.interfac.interfacId);" data="false"><small>美化 / 压缩JSON</small></a>
										</p>
									</div>

									<button type="button" class="btn btn-primary btn-sm" v-on:click="requestApi( interfacesResponseModel.interfac.interfacId )">提交</button>
									<p></p>
									<p></p>
									<div class="form-group">
										<label for="name">返回数据：</label>
										<textarea v-bind:id="'response_parameter-'+interfacesResponseModel.interfac.interfacId" class="form-control parameter-return gradeA odd" rows="5" data-key="" data-toggle="context" data-target="#context-menu"> </textarea>
										<p></p>
										<div style="overflow: auto; width: 100%" v-bind:id="'json_data_div_'+interfacesResponseModel.interfac.interfacId"></div>

									</div>

								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>


		<!-- 参数信息提示框 -->
		<div id="context-menu">
			<ul style="width: auto;" id="context-menu-ul" class="dropdown-menu" role="menu">

			</ul>
		</div>

		<hr>

		<footer>
			<p>&copy; 2016 Soon, Inc.</p>
		</footer>

	</div>


	<script>
	 
	
	
	 
	
	var app = new Vue({
		el : '#interfaces',
		data : {
			modules4vue: null,
		},
		mounted(){
			
			  var thisURL = document.URL;    
			  var  getval =thisURL.split('?')[1];  
			  var showval= getval.split("=")[1];  
			   
			this.getModules(showval)
		},
		methods:{
			getModules: function (projectId){
				 
				let rootThis = this
				var url = api_doc_service_url + "/interfacController/getAllModules";
				var json_data = '{"projectId":"'+projectId+'"}';
				$.ajax({
					url : url,
					type : "POST",
					contentType : "application/json;charset=utf-8",
					data : json_data,
					success : function(rsData) {
						rootThis.modules4vue = rsData.modules
						console.log(rootThis.modules4vue)
					},
					error : function(rsData) {

					}
				})
			},
			getAllInterfaces: function(moduleId){
				var dataValue = $("#module-"+moduleId).attr("data");
				 
				if(dataValue == "true"){
					$("#module-"+moduleId).attr("hidden","hidden");
					$("#module-"+moduleId).attr("data","false")
				}else
				{
					$("#module-"+moduleId).removeAttr("hidden");
					$("#module-"+moduleId).attr("data","true")
					 
					let rootThis = this
					var url = api_doc_service_url + "/interfacController/getAllInterfaces";
					var json_data = '{"moduleId":"'+moduleId+'"}';
					$.ajax({
						url : url,
						type : "POST",
						contentType : "application/json;charset=utf-8",
						data : json_data,
						success : function(rsData) {
							for(var i = 0;i < rootThis.modules4vue.length;i++){
								if(moduleId == rootThis.modules4vue[i].moduleId){
								 rootThis.modules4vue[i].interfacesResponseModels = rsData.interfacesResponseModels;
									rootThis.$set(rootThis.modules4vue,i,rootThis.modules4vue[i])
								}
							}
							 
						},
						error : function(rsData) {

						}
					})
				}
			},
			
			//-------------------------------------------------------------------------
			
			openOrCloseInterfacDetail : function (interfacId) {
				
				var dataValue = $("#interfaceDetail-"+interfacId).attr("data");
				 
				if(dataValue == "true"){
					$("#interfaceDetail-"+interfacId).attr("hidden","hidden");
					$("#interfaceDetail-"+interfacId).attr("data","false")
				
				}else{
					
					$("#interfaceDetail-"+interfacId).removeAttr("hidden");
					$("#interfaceDetail-"+interfacId).attr("data","true")
				}
				
				searchParameter();
				//userMousedown();
				
			},
			formatJson : function (textareaId) {
				var text = $('#textarea-'+textareaId).text();
				var data = $("#format-"+textareaId).attr("data");
				var formatText ;
				if(data == "false"){
				  $("#format-"+textareaId).attr("data","true")
				  formatText = format(text,false);
				}else{
				  $("#format-"+textareaId).attr("data","false")
				  formatText = format(text,true);
				}
				$('#textarea-'+textareaId).text(formatText); 
			}
			 
		}
	})
	
	function getInterfacByInterfacNumber ( ) {
		var interNumber = $("#interfacNumber").val();
		window.location.href="interface-detail.html?interfacNumber="+interNumber;
		
	}
 
	
	
//试一试 提交

 function requestApi (interfacId) {
		
		var url = $("#url-"+interfacId).val();
		var request_headers = $("#request_headers-"+interfacId).val();
		var parameter = $("#textarea-"+interfacId).val();
		var response_parameter = $("#response_parameter-"+interfacId);
		$.ajax({
			url : url,
			type : "POST", 
			headers: request_headers.trim() == "" ? {} : JSON.parse(request_headers),
			contentType: "application/json;charset=utf-8",
			data : parameter,
			success : function(rsData) {
				var jsonData = JSON.stringify(rsData);
				response_parameter.val(jsonData) ;
				parseJsonData(rsData,interfacId);
				//parseJson(rsData);
				
				 
			},
			error : function(rsData) {
				response_parameter.val("请求失败,请确认url正确或服务器内部存在异常!") ;
			}
		})
		 
	}  
	
	//---------------美化json-------------------
	function format(txt,compress){/* 格式化JSON源码(对象转换为JSON文本) */  /*是否为压缩模式*/ 
        var indentChar = '    ';   
        if(/^\s*$/.test(txt)){   
            alert('数据为空,无法格式化! ');   
            return;   
        }   
        try{var data=eval('('+txt+')');}   
        catch(e){   
            alert('数据源语法错误,格式化失败! 错误信息: '+e.description,'err');   
            return;   
        };   
        var draw=[],last=false,This=this,line=compress?'':'\n',nodeCount=0,maxDepth=0;   
           
        var notify=function(name,value,isLast,indent/*缩进*/,formObj){   
            nodeCount++;/*节点计数*/  
            for (var i=0,tab='';i<indent;i++ )tab+=indentChar;/* 缩进HTML */  
            tab=compress?'':tab;/*压缩模式忽略缩进*/  
            maxDepth=++indent;/*缩进递增并记录*/  
            if(value&&value.constructor==Array){/*处理数组*/  
                draw.push(tab+(formObj?('"'+name+'":'):'')+'['+line);/*缩进'[' 然后换行*/  
                for (var i=0;i<value.length;i++)   
                    notify(i,value[i],i==value.length-1,indent,false);   
                draw.push(tab+']'+(isLast?line:(','+line)));/*缩进']'换行,若非尾元素则添加逗号*/  
            }else   if(value&&typeof value=='object'){/*处理对象*/  
                    draw.push(tab+(formObj?('"'+name+'":'):'')+'{'+line);/*缩进'{' 然后换行*/  
                    var len=0,i=0;   
                    for(var key in value)len++;   
                    for(var key in value)notify(key,value[key],++i==len,indent,true);   
                    draw.push(tab+'}'+(isLast?line:(','+line)));/*缩进'}'换行,若非尾元素则添加逗号*/  
                }else{   
                        if(typeof value=='string')value='"'+value+'"';   
                        draw.push(tab+(formObj?('"'+name+'":'):'')+value+(isLast?'':',')+line);   
                };   
        };   
        var isLast=true,indent=0;   
        notify('',data,isLast,indent,false);   
        return draw.join('');   
    }     
	
	
	
	
	 function getKeyAndVal(jsonObj){
		 
		 var  map = new Map();
		  for (var key in jsonObj) {
	        	 var val = jsonObj[key];
	        	 if(typeof(val) != 'object'){
	        	 map.set(key,val);
	        	 }
		  }
		 
		 return map;
	 }
	 
	 function getObject (jsonObj){
		 var  map = new Map()
		 for (var key in jsonObj) {
        	 var val = jsonObj[key];
             var len = val.length;
        	 if(typeof(val) == 'object' && typeof(len) == "undefined"){
        	 map.set(key,val)
        	 }
	  }
		 
		 return map;
		 
	 }
	 
	 function getArray (jsonObj){
		 var  map = new Map()
		 for (var key in jsonObj) {
        	 var val = jsonObj[key];
             var len = val.length;
        	 if(typeof(val) == 'object' && len > 0){
        	 map.set(key,val)
        	 }
	  }
		 
		 return map;
		 
	 }
	 
	 
	 function appendJsonObjTable(interfacId,caption,trs ){
		 var json_data_div = $("#json_data_div_"+interfacId);
		 var table = '<table width="auto" style="white-space:nowrap" class="table table-bordered"><caption>'+caption+'</caption><tbody> '+trs+' </tbody></table>';
		 json_data_div.append(table);
		 
	 }
	 
	 
	 function parseJsonData(jsonObj,interfacId){
		 var keyVal = getKeyAndVal(jsonObj);
		 var json_data_div = $("#json_data_div_"+interfacId);
		 json_data_div.empty();
		 var trs = getJsonKVtrs(keyVal);
		 appendJsonObjTable(interfacId,'',trs);
		 
		var objectMap =  getObject(jsonObj);
		objectMap.forEach(function (val, key, objectMap) {
			
			 var keyVal2 = getKeyAndVal(val);
			
			 var trs2 = getJsonKVtrs(keyVal2);
			 appendJsonObjTable(interfacId,'',trs2);
			 
			 
			    var arrayMap = getArray(val);
			 
				var trs3 = getJsonArrayTrs(arrayMap);

				appendJsonObjTable(interfacId,'',trs3);
			 
			 
		});
		
		
		var arrayMap = getArray(jsonObj);
		 
		var trs4 = getJsonArrayTrs(arrayMap);

		appendJsonObjTable(interfacId,'',trs4);
	 }
	 
	 function getJsonKVtrs(keyVal){
		 var trs='' ;
		 keyVal.forEach(function (val, key, keyVal) {
			    
			 var tr = '<tr><td>'+key+'</td><td>'+val+'</td></tr>';
			  
			 trs = trs + tr;
 
			});
		 
		 return trs;
	 }
	 
	 function getJsonArrayTrs(arrayMap){
			var i = 0 ;
			
			var trs2 ='';
			arrayMap.forEach(function (val, key, arrayMap) {
				if(i ==0 ){
				var tr = '<tr>';
				for(var k in val[0]){
					 
						 var td = '<td>'+k+'</td>';
						 tr = tr + td;
				}
				tr = tr + '</tr>';
				
				trs2 = trs2 + tr;
				i ++;
				
			}
				
				
				 
			});
			
			
			arrayMap.forEach(function (val, key, arrayMap) {
				
				for (var v in val) {
				     var tr = '<tr>';
				     
				     for( var va in val[v]){
				    	 
				    	 
				    	 if(va =="createTime" || va =="updateTime" || va == "createDate" || va == "updateDate"){
				    		 var td = '<td>'+unixTime(val[v][va]/1000,true)+'</td>'; 
				    	 }else{
				    		 var td = '<td>'+val[v][va]+'</td>'; 
				    	 }
				    	  
					 
					 tr = tr + td;
				    	 
				     }
				     
					 tr = tr + '</tr>';
					 
					trs2 = trs2 + tr;
			    }
				
				 
			});
			
			return trs2;
		 
	 }
	 
	 
	 
	 //时间戳格式化
	 
	 function unixTime  (unixTime, isFull, timeZone) {
	        if (typeof (timeZone) == 'number')
	        {
	          unixTime = parseInt(unixTime) + parseInt(timeZone) * 60 * 60;
	        }
	        var time = new Date(unixTime * 1000);
	        var ymdhis = "";
	        ymdhis += time.getUTCFullYear() + "-";
	        ymdhis += (time.getUTCMonth()+1) + "-";
	        ymdhis += time.getUTCDate();
	        if (isFull === true)
	        {
	          ymdhis += " " + time.getUTCHours() + ":";
	          ymdhis += time.getUTCMinutes() + ":";
	          ymdhis += time.getUTCSeconds();
	        }
	        return ymdhis;
	      }
	 
        
 function searchParameter  (){
	 
	   
		 
		 
		 $('textarea').select(function(data){
			  
	       	 var id =  this.id ;
	       	 var word = window.getSelection().toString();
	       	  var url = "";
	       	 
	       	 if(id.indexOf("textarea") != -1){
	        	  url = api_doc_service_url + "/interfacController/searchParameter";
	       	   id = id.replace('textarea-', '');
	       	  
	       	 }else{
	       	  url = api_doc_service_url + "/interfacController/searchParameter4return";
		       	   id = id.replace('response_parameter-', '');
	       	 }
	       	 
	       	 
	       	 
			var json_data = '{"interfacId":"'+id+'","key":"'+word+'"}';
			$.ajax({
				url : url,
				type : "POST",
				contentType : "application/json;charset=utf-8",
				data : json_data,
				success : function(rsData) {
				              var parameters = rsData.parameterReturs;
				              var ul = $("#context-menu-ul");
				              ul.empty();
					          if(parameters.length > 0){
				                   var lis = '<li><a>参数代码 : '+parameters[0].parameterCode+'</a></li><li><a>参数名称 : '+parameters[0].parameterName+'</a></li><li><a>数据类型 : '+parameters[0].parameterDataType+'</a></li><li><a>最大长度 : '+parameters[0].maxLength+'</a></li><li><a>是否必须 : '+parameters[0].isMust+'</a></li>';
				                   ul.append(lis);
						           $("#context-menu").addClass("open");
					         }else{
						           $("#context-menu").removeClass("open");
					         }
					 
				        } 
			      })
	       	 
	        })
		
		}
  
	 
	</script>

</body>
</html>
